.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  /* Background image */
  background: url(../images/headerbg.svg) no-repeat center center;
  background-size: cover;

  /* Box shadow with inset to create a shadow inside the header */
  box-shadow: inset 0px -10px 15px rgb(0, 0, 0);

  /* Sizing */
  height: 100vh;
  width: 100vw;

  /* Text styling */
  color: white;

  /* Positioning */
  z-index: 1;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.064);
  z-index: -1;
}



.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  /* gap: 1rem; */
  /* padding: 4rem 2rem 4rem 2rem; */
  background-image: url(../images/headercircle.svg);
  backdrop-filter: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.h1 {
  font-weight: 300;
  font-size: 1.2rem;
  /* border: 1px solid rgba(255, 255, 255, 0.042); */
  /* padding: 10px; */
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.071); */
}
.h2 {
  font-family: 'SF', sans-serif;
  font-weight: 600;
  font-size: 2.9rem;
}
.p {
  font-weight: 400;
  width: 100%;
  font-size: 1rem;
}

.images-5 {
  /* padding-top:4rem ; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: absolute;

  text-align: center;

  /* padding-top: 9rem; */
  /* padding-bottom: 5rem; */
  gap: 12rem;
  /* background-color: rgba(0, 0, 0, 0.662); */
}

.header-button {
padding: 2rem;
  display: flex;
  gap: 5rem;
}

.header-buynow {
  /* border-bottom: 3px solid #f9f9f9;
  border-left: 3px solid #f9f9f9; */
  padding: 2px;
}

.header-whitepaper {
  /* border-right: 3px solid #f9f9f9;
  border-top: 3px solid #f9f9f9; */
  padding: 2px;
}

#buynow {
  padding: 5px 30px;
  border-radius: 8px;
}
#whitepaper {

  padding: 9px 30px;
  color: #0300ff;
  background-color: white;
  border-radius: 8px;
}

.blurblack1{
  /* position: relative; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 1px;
  z-index: 2;
padding: 2rem;
background: rgb(0 0 0 / 16%);
  /* opacity: 50%; */
backdrop-filter: blur(2px);
  
}

.backshadow2{
  position: absolute;
  box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.758);
  width: 100vw;
  height: 100vh;
  /* top: 3px; */
  left: 0;
  z-index: -1;
}

/* .blurblack{
    width: 100%;
    height: 50px;

    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(0, 0, 0, 0.400);
    opacity: 50%;
    backdrop-filter: blur(5);
} */

@media (min-width: 980px) and (max-width: 1280px) {
  .header-content{width: 60%;}
  .h1 {
    font-size: 1rem;
  }
  .h2 {
    font-size: 2.4rem;
  }
  .p {

    font-size: 1rem;
  }

  .images-5{gap: 2rem;}
  }

@media(min-width: 730px) and (max-width: 980px) {
  .header-content{width: 80%;}
  .h1 {
    font-size: 1rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .p {

    font-size: 1rem;
    width: 100%;
  }

  .images-5{gap: 2rem;}
  }

  @media(min-width: 500px) and (max-width: 730px) {
.header-content{width: 80%;}
    .h1 {
      font-size: 1rem;
    }
    .h2 {
      font-size: 1.8rem;
    }
    .p {
  
      font-size: 1rem;
      width: 100%;
    }
  
    .images-5{gap: 2rem;}
    .header-button {
      padding: 1rem;
        display: flex;
        gap: 3rem;
        font-size: 12px;
      }
      
      .header-buynow {
        border-left: 2px solid #f9f9f9;
        padding: 2px;
        border-bottom: 2px solid #f9f9f9;
        
      }
      
      .header-whitepaper {
        border-right: 3px solid #f9f9f9;
        padding: 2px;
        border-top: 3px solid #f9f9f9;
      }
      
      #buynow {
        padding: 5px 20px;
        border-radius: 8px;
      }
      #whitepaper {
        padding: 5px 20px;
        color: #0300ff;
        background-color: white;
        border-radius: 8px;
      }



  }





   @media (min-width: 261px) and (max-width: 499px) {
    
    .header-content{width: 100%;}
    .h1 {
      font-size: 1.7rem;

    }
    .h2 {
      padding-left: 10px; padding-right: 10px;
      font-size: 2rem;
    }
    .p {

      font-size: 0.8rem;
      width:  90%;
    }
    

    
  
    .images-5{gap: 1rem;}

    .header-button {
      padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .header-button {
        padding: 1rem;
          display: flex;
          gap: 1rem;
          font-size: 8px;
          word-spacing: 1.2;
          list-style: 1.2;
        }
  } 




  


@media (min-width: 50px) and (max-width: 260px) {
  .header-button {
    padding: 1rem;
      display: flex;
      gap: 1rem;
      font-size: 12px;
    }
    
    .header-buynow {
      border-left: 2px solid #f9f9f9;
      padding: 2px;
      border-bottom: 2px solid #f9f9f9;
      
    }
    
    .header-whitepaper {
      border-right: 3px solid #f9f9f9;
      padding: 2px;
      border-top: 3px solid #f9f9f9;
    }
    
    #buynow {
      padding: 5px 20px;
      border-radius: 8px;
    }
    #whitepaper {
      padding: 5px 20px;
      color: #0300ff;
      background-color: white;
      border-radius: 8px;
    }
    .h1 {
      font-size: 0.4rem;
    }
    .h2 {
      font-size: 0.8rem;
    }
    .p {
  
      font-size: 0.4rem;
      width: 100%;
    }
    

  
    .images-5{gap: 2rem;}

    .header-button {
      padding: 1rem;
        display: flex;
        gap: 1rem;
        font-size: 8px;
      }


  }