/*  */

.ellipse1{ position: absolute;}
.ellipse2{position: absolute;}


.feature-car {
  position: relative;
  width: 100%;
  max-width: 28rem; /* Equivalent to max-w-md in Tailwind */
  margin: 0 auto; /* Equivalent to mx-auto in Tailwind */
  padding: 1.5rem; /* Equivalent to p-6 in Tailwind */
  border-radius: 2rem; /* Equivalent to rounded-lg in Tailwind */
  box-shadow:  inset 0 0 2px 2px rgba(17, 17, 214, 0.821); /* Equivalent to shadow-lg in Tailwind */
}

.feature-car::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #2563eb, #1e40af); /* Blue gradient */
  opacity: 0.2; /* Adjust the opacity */
  border-radius: 0.5rem; /* Same as the main div */
  backdrop-filter: blur(10px); /* Equivalent to backdrop-blur-lg in Tailwind */
  border: 2px solid #034274; /* Add the border */
  z-index: -1; /* Ensure the background layer is behind the content */
}





/*  */


.Presale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* padding: 3rem; */
}

.blurblack{
  width: 100%;
  height: 50px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(0, 0, 0, 0.648);
  /* opacity: 50%; */
  -webkit-backdrop-filter: blur(1);
}



.Presale-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 2rem;

     /* gap: 5px; */

  
     /* background: rgba(255, 255, 255, 0.1); */
  

  }


  /* absolute inset-0   bg-gradient-to-r from-blue-600 to-blue-800  opacity-20 rounded-lg backdrop-blur-lg */
  
  #connectwallet{background-image: url("../images/headercircle.svg")  ;
background-size: auto;
background-repeat: no-repeat;
background-position: center;

}
 


.Presale-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 2rem;
  gap: 10px;
}


.Presale-right-h1{font-size: 3rem;
  font-family: 'Santoshi', sans-serif;
  font-weight: 700;
    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}


    .Presale-right-p{font-size: 1rem;
       font-style:normal;
       font-weight: 300;
    padding-top: 1rem ;
    padding-bottom:  1rem ;
color: white;}

#buynow{
    padding-top: 10px;
    padding-bottom: 10px;
}


@media
 (min-width: 500px) and (max-width: 880px) {
  
  .Presale{ display: flex;
    flex-direction: column;
    width: 100%;
  padding: 3rem 1px;
  }

.Presale-left{width: 100%;}


    .Presale-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 2rem;
        gap: 10px;
      }


      .Presale-right-h1{font-size: 4rem;
        font-weight: 800;
        background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    
    
        .Presale-right-p{font-size: 1.5rem;
           font-style:normal;
           font-weight: 300;
        padding-top: 1rem ;
        padding-bottom:  1rem ;
    color: white;}



    }


    @media(min-width: 380px) and (max-width: 499px) {
  
      .Presale{ display: flex;
      flex-direction: column;
      width: 100%;
    padding: 3rem 1px;
    }
      
      .Presale-left{width: 100%;}
      
      
          .Presale-right {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: left;
              padding: 2rem;
              gap: 10px;
            }
      
      
            .Presale-right-h1{font-size: 2.8rem;
              font-weight: 800;
              background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;}
          
          
              .Presale-right-p{font-size: 1.1rem;
                 font-style:normal;
                 font-weight: 300;
              padding-top: 1rem ;
              padding-bottom:  1rem ;
          color: white;}
      
      
      
          }


          @media (min-width: 100px) and (max-width: 380px) {
  
            .Presale{ display: flex;
            flex-direction: column;
            width: 100%;
          padding: 2rem 1px;
          }
            
            .Presale-left{width: 100%;}
            
            
                .Presale-right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    /* padding: 2rem; */
                    gap: 10px;
                  }
            
            
                  .Presale-right-h1{font-size: 2.2rem;
                    font-weight: 800;
                    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;}
                
                
                    .Presale-right-p{font-size: 1rem;
                       font-style:normal;
                       font-weight: 300;
                    padding-top: 1rem ;
                    padding-bottom:  1rem ;
                color: white;}
            
            
            
                }