.Presale {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 3rem;
}

.blurblack{
  width: 100%;
  height: 50px;

  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgba(0, 0, 0, 0.648);
  /* opacity: 50%; */
  -webkit-backdrop-filter: blur(1);
}



.Presale-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 2rem;
    /* gap: 5px;
    border-radius: 20px;
    position: relative;  
  
    /* background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);     -webkit-backdrop-filter: blur(10px);
  

    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);  */
  }
  
  #connectwallet{background-image: url("../images/headercircle.svg")  ;
background-size: auto;
background-repeat: no-repeat;
background-position: center;

}
 


.Presale-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 2rem;
  gap: 10px;
}


.Presale-right-h1{font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}


    .Presale-right-p{font-size: 1rem;
       font-style:normal;
       font-weight: 300;
    padding-top: 1rem ;
    padding-bottom:  1rem ;
color: white;}

#buynow{
    padding-top: 10px;
    padding-bottom: 10px;
}


@media
 (min-width: 500px) and (max-width: 880px) {
  
  .Presale{ display: flex;
    flex-direction: column;
    width: 100%;
  padding: 3rem 1px;
  }

.Presale-left{width: 100%;}


    .Presale-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 2rem;
        gap: 10px;
      }


      .Presale-right-h1{font-size: 4rem;
        font-weight: 800;
        background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
    
    
        .Presale-right-p{font-size: 1.5rem;
           font-style:normal;
           font-weight: 300;
        padding-top: 1rem ;
        padding-bottom:  1rem ;
    color: white;}



    }


    @media(min-width: 380px) and (max-width: 499px) {
  
      .Presale{ display: flex;
      flex-direction: column;
      width: 100%;
    padding: 3rem 1px;
    }
      
      .Presale-left{width: 100%;}
      
      
          .Presale-right {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: left;
              padding: 2rem;
              gap: 10px;
            }
      
      
            .Presale-right-h1{font-size: 2.8rem;
              font-weight: 800;
              background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;}
          
          
              .Presale-right-p{font-size: 1.1rem;
                 font-style:normal;
                 font-weight: 300;
              padding-top: 1rem ;
              padding-bottom:  1rem ;
          color: white;}
      
      
      
          }


          @media (min-width: 100px) and (max-width: 380px) {
  
            .Presale{ display: flex;
            flex-direction: column;
            width: 100%;
          padding: 2rem 1px;
          }
            
            .Presale-left{width: 100%;}
            
            
                .Presale-right {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    /* padding: 2rem; */
                    gap: 10px;
                  }
            
            
                  .Presale-right-h1{font-size: 2.2rem;
                    font-weight: 800;
                    background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(3,0,255,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;}
                
                
                    .Presale-right-p{font-size: 1rem;
                       font-style:normal;
                       font-weight: 300;
                    padding-top: 1rem ;
                    padding-bottom:  1rem ;
                color: white;}
            
            
            
                }