.tokenomics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    /* background-color: rgb(160, 157, 154); */
    /* background-image: url("../style/logo.svg"); */
  }
  
  .token-h1 {
    font-size: 3rem;
    font-family: 'Santoshi', sans-serif;
    font-weight: 700;
    background: linear-gradient(
      148deg,
      rgba(255, 255, 255, 1) 10%,
      rgba(3, 0, 255, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .token-h2 {
    font-size: 2rem;
    padding-bottom: 2rem;

  }
  
  .details{display: flex;
flex-direction: row;
flex-wrap: wrap;
 padding: 2rem; 
gap: 3rem; 
width: 100%;

align-items: center;
justify-content: space-around;
text-align: center;
}

.details1{ 
display: flex; flex-direction: row;
align-items: center; justify-content: space-evenly;
 /* gap: 5rem;*/
/* padding: 1rem;  */

}

.contract{display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
gap: 3rem;
padding: 5rem;
/* width: 100vw; */

}

.contract-h1{ font-size: 2rem; 
  
  font-family: 'Santoshi', sans-serif;
  font-weight: 400;
  color: white;
 
  word-wrap: break-word;
}

.contract-h2{ font-size: 1.5rem; 
  
  font-family: 'Santoshi', sans-serif;
  font-weight: 300;
  color: #f9f9f9;

}
  


#contactbutton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  font-size: 1.5rem;
  width: 200px;
  border: 1px solid rgba(3,0,255,1);
  -webkit-border-radius: 5px 50px 5px 50px;
border-radius: 10px 10px 10px 10px;
/* background-color: rgb(255, 255, 255); */
background: -moz-linear-gradient(149deg, rgba(3,0,255,1) 0%, rgba(1,0,117,1) 100%);
background: -webkit-linear-gradient(149deg, rgba(3,0,255,1) 0%, rgba(1,0,117,1) 100%);
/* background: linear-gradient(149deg, rgba(3,0,255,1) 0%, rgba(1,0,117,1) 100%); */
background: rgba(0, 0, 0, 0.445);

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0300ff",endColorstr="#010075",GradientType=1);
  background-blend-mode: normal;
  box-shadow: inset  50px 50px 115px 58px  rgba(4, 0, 255, 0.412);
 


}


@media (min-width: 850px) and (max-width: 1150px) {
 .details {  padding: 1rem; }
 .contract-h1{ font-size: 1.5rem; 
  
  font-family: 'Santoshi', sans-serif;
  font-weight: 400;
  color: white;
 
  word-wrap: break-word;
}

.contract-h2{ font-size: 1rem; 
  
  font-family: 'Santoshi', sans-serif;
  font-weight: 300;
  color: #f9f9f9;

}




}
@media (min-width: 450px) and (max-width: 850px) {
  .details {gap: 1rem;  padding-top: 3rem; gap: 30px; }
  /* .details1 {gap: 1rem;  padding: 0.5rem; } */

.tokenomics{padding: 1rem;}
  .contract{padding: 2rem 1rem 1rem 1rem; gap: 1rem; flex-direction: column;}
  .contract-h1 , .contract-h2{ font-size: 1.5rem; 
    width: 90%;
    word-wrap: break-word;
 
    padding-left: 10px; padding-right: 10px;
 
   
    word-wrap: break-word;
  
  }
   

 

 #contactbutton{font-size: 1rem; width: 150px; }

    }


    @media (min-width: 100px) and (max-width: 450px) {
      .details {gap: 1rem;  padding: 1rem; gap: 30px; }

.token-h1{font-size: 2.5rem}
.token-h2{font-size: 1rem;     padding-top: 1rem;
  padding-bottom: 1rem;}



      /* .details1 {gap: 1rem;  padding: 0.5rem; } */

      .tokenomics{padding: 1rem;}
  .contract{padding: 2rem 1rem 1rem 1rem; flex-direction: column;
  gap: 1rem; padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  .contract-h1 , .contract-h2{ font-size: 1.5rem; 
   width: 90%;
   word-wrap: break-word;

   padding-left: 10px; padding-right: 10px;

  
   word-wrap: break-word;
 
 }
 #contactbutton{font-size: 1rem; width: 150px;}
        }
 